
$firstBackgroundColour: #f1f9f9;

$firstTextColour: #66BFBF;

$secondBackgroundColour: #effcef;

$secondTextColour: #66BFBF;

$thirdBackgroundColour: #ccedd2;

$thirdTextColour: #55AFAF;

$fourthBackgroundColour: #94d3ac;

$fourthTextColour: #458F8F;

$fifthBackgroundColour: #6a8caf;

$fifthTextColour: #eaeaea;

$linkColour: #2a72b9;

$disabledLinkColour: rgb(168, 168, 168);

$normalText: rgb(19, 19, 19);